/**
 * This file is part of Shadowhunt WebDav Servlet.
 *
 * Shadowhunt WebDav Servlet is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Shadowhunt WebDav Servlet is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Shadowhunt WebDav Servlet.  If not, see <http://www.gnu.org/licenses/>.
 */
* {
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

html {
    min-height:100%;
    border-top:10px solid #ECEEF1;
    border-bottom:10px solid #ECEEF1;
    color:#61666c;
    font-weight:400;
    font-size:1em;
    font-family:sans-serif;
    line-height:2em;
}
body {
    padding:20px;
}
a {
    color:#61666c;
    display: block;
    text-decoration:none;
}
a:hover {
    color:#2a2a2a;
}
table {
    width:100%;
    border-collapse:collapse;
}
tr {
    outline:0;
    border:0;
}
tr:hover td {
    background:#f6f6f6;
}
th {
    text-align:left;
    padding:5px;
}
td.name,
th.name {
    width:65%;
}
td.size,
th.size {
    width:10%;
}

td {
    padding:5px;
    outline:0;
    border:0;
    border-bottom:1px solid #edf1f5;
    vertical-align:middle;
    text-align:left;
    transition:background 300ms ease;
}

tr.folder td.name a:before {
    display: block;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAYAAAAGAB4TKWmAAAAWklEQVRIx+2UMQ6AIBAEB553n/Kv4D+wkAYFNfGIFjvJtTPJFgfiTxiQgTK45W3gSu4SuZM/vVTXmBYodQ0AwiHgSQCIztITCiigQBtYHb1dl7E/qmnPTnzDBgqdTRB/HnOKAAAAAElFTkSuQmCC") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px;
}
tr.folder.lock td.name a:before {
    display: block;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAYAAAAGAB4TKWmAAAAk0lEQVRIx+2Uuw2AMAxEnxFLIDZiIehYjkmAKWhCgQsUhU9MECBx0jXO2ZfYiuHHm1ABA+A22F412CuexOSo+Fn22o3bDJx2AwDxDFJCADJD4gTUQKmsNZZsBk0gtwnozAaF6jslGgsaWGYgnl428sViIAfnztdahhyF7xvkkfroz7h+wZjw4sFaFcuium3Z/XgGM+5ldLFtA/xoAAAAAElFTkSuQmCC") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px;
}
tr.folder.parent td.name a:before {
    display: block;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAYAAAAGAB4TKWmAAAAjklEQVRIx+2UQQqAIBBFn9Gio0WX6q7WHWxXG4WwRpssKujDIKjz3zgDwq83qQMsMAvRlwKGhPklkJz50bC+G7cBZt8NAEwE0GjyayOcm3hDU6EDWh9OuHO6RcE8SIKcAsTmKYgaIJlLkM0gtEM2mTwDUClN1fo+oC7IPTSz9QvGCwvf9cp918Wf3a9ntACvbY7Lnc622wAAAABJRU5ErkJggg==") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px;
}
tr.file td.name a:before {
    display: block;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAYAAAAGAB4TKWmAAAAaUlEQVRIx+3UsQ2AMAxE0S/EIMyTpRgVKbBHaCggTc52gRT5JJe+F6UwzJgCnEAbzO4FlPIjgozKG7BFEAUggqiAG7EALsQK9Mgnq+XvukdIWZyAnAQSSOAn4Ar0SbsFqGhH7z312Z0sNxMNXs/MGD1tAAAAAElFTkSuQmCC") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px;
}
tr.file.lock td.name a:before {
    display: block;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAYAAAAGAB4TKWmAAAApUlEQVRIx93VTQqDMBCG4dfiJUI3PY8XqnTj4eo9BPUU3cTNbBoS/DLZiAMD/kzmMWoI3DEGYAXiSU5eYBOaLy3IWfMIvFoQBaAFUQE3UgO4kFogRf6ir3l3yUNI8XACcqjAD/gAT8u3XXNPP80xUzeifR8JCHZvBr52HBSgKwClulg4L/ZUgFyNXH+Zv+i6gLKS5VWrzmBv6CeNVbfMNFcbe7M4AJg4fnl/habuAAAAAElFTkSuQmCC") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px;
}

tr.file td.operation a {
    display: block;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAYAAAAGAB4TKWmAAAAW0lEQVRIx+2UMQoAIAgArZf38xoikChLU3LwwK3uCEKA4EC6PFel97P1CyLgN1Cg/5wxO/CZwo3PEWrYck5ELL+JPMupiJp8FVGX44iZ3Ce7dVtZFsJnviqC/zRGrizt6SUp0AAAAABJRU5ErkJggg==") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 4px;
}
