<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file is part of Shadowhunt WebDav Servlet.

    Shadowhunt WebDav Servlet is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Shadowhunt WebDav Servlet is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Shadowhunt WebDav Servlet.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1" metadata-complete="true">

    <description>WebDavServlet test application</description>
    <display-name>Shadowhunt WebDavServletTest</display-name>

    <servlet>
        <servlet-name>webdav</servlet-name>
        <servlet-class>de.shadowhunt.servlet.WebDavServlet</servlet-class>
        <init-param>
            <description>Allowing PROPFIND with DEPTH infinity can result in high loads (default: false)</description>
            <param-name>infinite</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>Show listings of collctions in the browser (default: false)</description>
            <param-name>listing</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>When listings of collctions for the browser are created include this css (default: none)</description>
            <param-name>listingCss</param-name>
            <param-value>WEB-INF/style.css</param-value>
        </init-param>
        <init-param>
            <description>Allow writing operations on the webdav store (default: false)</description>
            <param-name>writeable</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>debug</servlet-name>
        <servlet-class>de.shadowhunt.servlet.WebDavDebugServlet</servlet-class>
        <init-param>
            <description>Allowing PROPFIND with DEPTH infinity can result in high loads (default: false)</description>
            <param-name>infinite</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>Show listings of collctions in the browser (default: false)</description>
            <param-name>listing</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>When listings of collctions for the browser are created include this css (default: none)</description>
            <param-name>listingCss</param-name>
            <param-value>WEB-INF/style.css</param-value>
        </init-param>
        <init-param>
            <description>Allow writing operations on the webdav store (default: false)</description>
            <param-name>writeable</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>webdav</servlet-name>
        <url-pattern>/webdav/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>debug</servlet-name>
        <url-pattern>/debug/*</url-pattern>
    </servlet-mapping>
</web-app>
